
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Foo stuff for people riding">
        <meta name="author" content="foobarswheels">
        <link rel="icon" href="img/favicon.ico">

        <title>Foo, Bars & Wheels</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/cover.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Font -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Special+Elite&text=Foo%2CBar%20%26%20Wheels' rel='stylesheet' type='text/css'>

         <style>
            body {
                font-family: 'Special Elite', serif;
                font-size: 48px;
            }
         </style>
    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Coming soon...</h3>
                            <!-- nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                </ul>
                            </nav -->
                        </div>
                    </div>

                    <div class="inner cover">
                        <img class="centrato" src="img/costina-mtb-small.png" alt="Foo, Bars & Wheels" />
                        <h1 class="cover-heading font-effect-shadow-multiple">Foo, Bars &AMP; Wheels</h1>
                        <p class="lead">foo stuff for people riding</p>
                        <!-- p class="lead">
                            <a href="#" class="btn btn-lg btn-default">Learn more</a>
                        </p -->
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <a href="https://twitter.com/foobarswheels" class="btn btn btn-primary-outline btn-sm" role="button">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                            </a>
                            <a href="https://www.facebook.com/costina.foo.bar.wheel" class="btn btn btn-primary-outline btn-sm" role="button">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
