    {{> header.html }}

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Coming soon...</h3>
                            <!-- nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                </ul>
                            </nav -->
                        </div>
                    </div>

                    <div class="inner cover">
                        <img class="centrato" src="img/costina-mtb-small.png" alt="Foo, Bars & Wheels" />
                        <h1 class="cover-heading font-effect-shadow-multiple">Foo, Bars &AMP; Wheels</h1>
                        <p class="lead">foo stuff for people riding</p>
                        <!-- p class="lead">
                            <a href="#" class="btn btn-lg btn-default">Learn more</a>
                        </p -->
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <a href="https://twitter.com/foobarswheels" class="btn btn btn-primary-outline btn-sm" role="button">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x"></i>
                                </span>
                            </a>
                            <a href="https://www.facebook.com/costina.foo.bar.wheel" class="btn btn btn-primary-outline btn-sm" role="button">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x"></i>
                                </span>
                            </a>
                            <a href="https://www.pinterest.com/foobarswheels/" class="btn btn btn-primary-outline btn-sm" role="button">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <i class="fa fa-pinterest-square fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

{{> footer.html }}